<!DOCTYPE html>

<html lang="en-us">
<header>
    {% include "hf-data/postheader.html" %}
    <title>{{ post_data['title'] }}</title>
</header>

<body>
<!-- navigation -->
{% include "hf-data/nav.html" %}
<!-- /navigation -->

<section class="section">
	<div class="container">
		<article class="row mb-4">
			<div class="col-lg-10 mx-auto mb-4">
				<h1 class="h2 mb-3">{{ post_data['title'] }}</h1>
				<ul class="list-inline post-meta mb-3">
					<li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">{{ post_data['author'] }}</a></li>
					<li class="list-inline-item">Date : {{ post_data['upload-date'] }} </li>
					<li class="list-inline-item">Categories : <a href="#!" class="ml-1">{{ post_data['category'] }} </a>
					</li>
					<li class="list-inline-item">Tags :
                        {% for tag in post_data['tags'] %}
                        <a href="#!" class="ml-1">{{post_data['tags']}}</a>
                        {% endfor %}
					</li>
				</ul>
			</div>
			<div class="col-12 mb-3">
				<div class="post-slider">
                    {% for image_url in post_data['images'] %}
					<img src="{{ image_url }}" class="img-fluid" alt="post-thumb">
                    {% endfor %}
				</div>
			</div>
			<div class="col-lg-10 mx-auto">
				<div class="content">
                    {% for paragraph in post_data['body'] %}
					<p>{{paragraph}}</p>
                    {% endfor %}
                </div>
			</div>
		</article>
	</div>
</section>

<!--footer-->
    {% include "hf-data/footer.html" %}



</body>
</html>
